:root{
    --verdeOscuro: #22824B;
    --verde: #5B834A;
    --verdeClaro: #95CA5C;
    --rojo: #EA3639; 
    --page-background: #fff;
    --page-color: #000;
    --page-tittle-mbgreen: #353434;

}

@font-face {
    font-display: swap;
    font-family: berlinsans;
    src: url(../webfonts/berlin_sans/BRLNSR.TTF);
}

@font-face {
    font-display: swap;
    font-family: candara;
    src: url(../webfonts/candara/Candara.ttf);
}
@font-face {
    font-display: swap;
    font-family: applegaramond;
    src: url(../webfonts/apple_garamond/AppleGaramond.ttf);
}
@font-face {
    font-display: swap;
    font-family: applegaramond;
    src: url(../webfonts/apple_garamond/AppleGaramond-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-display: swap;
    font-family: applegaramond;
    src: url(../webfonts/apple_garamond/AppleGaramond-LightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-display: swap;
    font-family: applegaramond;
    src: url(../webfonts/apple_garamond/AppleGaramond-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-display: swap;
    font-family: applegaramond;
    src: url(../webfonts/apple_garamond/AppleGaramond-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-display: swap;
    font-family: applegaramond;
    src: url(../webfonts/apple_garamond/AppleGaramond-Italic.ttf);
    font-style: italic;
}

body, p, a, h1, h2, h3, h4, h5, h6, div, input{
    font-family: berlinsans !important;
}

/* color de la barra dle menu */
.navColor{
    background-color: var(--verdeOscuro) !important;
}

/* hover al boton de busqueda */
.btn-green:hover{
    background-color: var(--verdeOscuro) !important;
}

/* hover a los tips bajo el header */
.tip1:hover, .tip2:hover, .tip3:hover, .tip4:hover{
    color: var(--verdeOscuro) !important;
    transition: 1s;
}

/* hove a los iconos en los tips bajo el header */
.tip1:hover .bt-icon span, .tip2:hover .bt-icon span, .tip3:hover .bt-icon span, .tip4:hover .bt-icon span{
    color: var(--verdeOscuro) !important;
    transition: 1s;
}

/* botones verdes la pagina */
.btn-verde {
    color: var(--white) !important;
    background-color: var(--verdeOscuro);
    background-image: none;
    border-color: var(--verdeOscuro);
}

.btn-rojo {
    color: var(--white) !important;
    background-color: var(--rojo);
    background-image: none;
    border-color: var(--rojo);
}

.btn-rojo:hover {
    color: var(--white) !important;
    background-color: rgb(236, 103, 105);
    background-image: none;
    border-color: rgb(236, 103, 105);
}

/* hover de los botones verdes */
.btn-verde:hover {
    color: var(--white);
    background-color: var(--verde);
    background-image: none;
    border-color: var(--verde);
}

/* botones outline verdes */
.btn-outline-verde {
    color: var(--white);
    background-color: var(--verdeOscuro);
    background-image: none;
    border-color: var(--verdeOscuro);
}
/* hover de los botones outline verdes */
.btn-outline-verde:hover {
    color: var(--white);
    background-color: transparent;
    background-image: none;
    border-color: var(--verdeOscuro);
}

/* precio de los productos */
.product_price h4 a{
    color: var(--verdeOscuro) !important;
}

.search-blanco {
    color: var(--verdeClaro);
    background-color: transparent;
    background-image: none;
    border-color: var(--verdeClaro);
}

.icono-verde {
    color: var(--verdeClaro);
}

.search-blanco:hover {
    color: var(--verdeClaro);
    background-color: var(--white);
    background-image: none;
    border-color: var(--white);
}

.item-add:hover li i{
    background-color: transparent !important;
}

.pull-right{
    float: right !important;
}

.wh-widget-send-button-get-button{
    display: none !important;
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list.wh-widget-show-get-button a.wh-widget-send-button-get-button {
    display: none !important;
}

.dd-menu{
    top: 80%;
    left: -30px;
}
.dd-menu2{
    top: 80%;
    left: inherit;
    right: 0;
}
.dd-menu2 li{
    text-align: center;
}

.dd-menu2 li a{
    font-size: 1.5em;
    color:var(--verde);

}

.dd-boton2{
    font-size: 1em !important;
}

.dd-boton2:after{
    content: none !important;
}

.agregarCarro{
    position: absolute !important;
    top: 30% !important;
    padding: .5em;
    background-color: var(--verdeClaro);
    display: none;
}

.sbmincart-submit:hover{
    text-decoration: underline;
}

.input_cantidad_productos{
    width: 30%;
}

.icon-eliminar{
    color:red;
    cursor: pointer;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 100% !important; 
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: var(--verdeOscuro) !important;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: var(--verdeOscuro) !important;

}

.precioOferta{
    font-weight: inherit !important;
    margin-left: 0px !important;
    font-size: inherit !important;
}

.ajs-info {
    background: rgba(32, 206, 245, 0.95) !important; 
    color: #FFF !important;
    text-align: center !important;
    border: solid 1px rgba(0, 161, 198, 0.95) !important;
    border-radius: 2px !important;
}

.ajs-ok {

    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    color: var(--white) !important;
    background-color: var(--verdeOscuro);
    background-image: none;
    border-color: var(--verdeOscuro);
    cursor: pointer;
}

.ajs-cancel {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: pointer;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: var(--verdeOscuro) !important;
}

.nav-pills .tab-verde {
    color:var(--verdeOscuro) !important;
}

.irs--flat .irs-bar, .irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle > i:first-child, .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: #22824b !important;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    border-top-color: #22824b !important;
}


.drop-user::after{
    color:black !important;
}
.dropdown-menu{
    left: -120px !important;
}

.btn-menos, .btn-mas{
    padding: 0 5px;
    margin: 0;
    height: 18px;
    line-height: normal;
}

.drop-mb .dropdown-item{
    font-size: .9em;
    padding: .5em 1em;
}
.drop-mb-navFixed .dropdown-item{
    font-size: 1em;
    padding: .5em 1em;
    color: var(--verde);
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: var(--verde);
    border-color: var(--verde);
}

.text-verde{
    color: var(--verde);
}
.text-verde:hover{
    color: var(--verde);
    text-decoration:underline;
}


#navbarSupportedContent{
    order:0;
}

#navbar_inicio_sesion{
    order:2;
}

#formularioBuscar2{
    order:1;
}

#narvar_carrito{
    order:3
}


/* radio button image */

    /* HIDE RADIO */
    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
  
    /* IMAGE STYLES */
    [type=radio] + img {
        cursor: pointer;
        /* padding: 5px; */
    }
  
    /* CHECKED STYLES */
    [type=radio]:checked + img {
        border: 3px solid var(--verdeOscuro);
    }

/* fin radio button image */


@media (min-width: 1500px){

}

@media (min-width: 1300px){

}


@media (min-width: 1282px){
    .dropdown-menu{
        /* left: 0px !important; */
    }

    .cart-xl{
        display: none;
    }   
    
}

@media(max-width:1281px) {

    .agregarCarro{
        width: 100% !important;
    }
    .inputLogin{
        width: 50%;
    }
    .dropdown-menu{
        /* left: 0px !important; */
    }

    .cart-xl{
        display: block;
    }

    .cart-sm-md-lg{
        display: none;
    }

    
}

@media (min-width: 1200px){
    .container {
        max-width: 1400px !important;
    }
    .inputLogin{
        width: 50%;
    }

    .cart-xl{
        display: none;
    }

    .cart-sm-md-lg{
        display: block;
    }

    
}

@media(max-width:1080px) {


}
@media(max-width:991px) {
    
    .menuAlCentro{
        text-align: center;
        justify-content: center;
    }

    .pull-right{
        float: none !important;
    }

    .item-search{
        padding: 0 1em;
    }

    .agregarCarro{
        width: 100% !important;
    }

    .input_cantidad_productos{
        width: 20%;
    }
    .inputLogin{
        width: 100%;
    }

    .dropdown-menu{
        left: -30px !important;
    }

}


@media(max-width:768px) {

    .form-telefono{
        width:55% !important; 
        display:none
    }

    #navbar_inicio_sesion{
        width: 100% !important;
    }

    #navbarSupportedContent{
        order:1;
    }
    
    #navbar_inicio_sesion{
        order:0;
    }
    
    #formularioBuscar2{
        order:2;
    }
    
    #narvar_carrito{
        order:3
    }

    .dd-boton2, .top_googles_cart{
        text-align: center;
    }

    .agregarCarro{
        position: relative !important;
        display: flex !important;
        justify-content: center !important;
        width: 70% !important;
        left: 15% !important;
        float: none !important;  
    }

    .input_cantidad_productos{
        width: 50%;
    }

    .dropdown-menu{
        left: -40px !important;
    }

    #txt_buscar{
        margin-bottom:2em;
    }



}


@media(max-width:550px) {

}

@media(max-width:480px) {

    .dropdown-menu{
        left: 20px !important;
    }

}


/* @media (prefers-color-scheme: dark) {
    
    :root{
        --page-background: #181818;
        --page-color: #e9e9e9;
        --page-tittle-mbgreen: #e9e9e9;
    }

    h3.tittle-mbgreen {
        color: #e9e9e9 !important;
    }

    .product-googles-info {
        border: none !important;
    }

    .form-control {
        color: #e9e9e9 !important;
        background-color: #121212 !important;
        border: 1px solid #303030
    }
} */
