.sociall {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 40%; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.sociall ul {
		list-style: none;
	}

	.sociall ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.sociall ul li .icon-facebook {background: var(--verde);} /* Establecemos los colores de cada red sociall, aprovechando su class */
	.sociall ul li .icon-twitter {background: var(--verde);}
	.sociall ul li .icon-instagram {background: var(--verde);}
	/* .sociall ul li .icon-facebook {background:#3b5998;} 
	.sociall ul li .icon-twitter {background: #00abf0;}
	.sociall ul li .icon-instagram {background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);} */

	.sociall ul li a:hover {
		padding: 10px 30px; /*Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}
	
	.sociall ul li .icon-facebook:hover {
		background:#3b5998; /* Cambiamos el fondo cuando el usuario pase el mouse */
	}
	.sociall ul li .icon-instagram:hover {
		background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00); /* Cambiamos el fondo cuando el usuario pase el mouse */
	}